<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Gram-attributed host class (AdditionalFile)</Title>
      <Shortcut>gram-host-file</Shortcut>
      <Description>A C# host class using a separate .gram file</Description>
      <Author>DotGram</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>ClassName</ID>
          <ToolTip>Name of the host class and grammar file</ToolTip>
          <Default>MyGrammar</Default>
        </Literal>
        <Literal>
          <ID>Rule</ID>
          <ToolTip>Name of the entry point rule</ToolTip>
          <Default>Rule</Default>
        </Literal>
        <Literal>
          <ID>Comment</ID>
          <ToolTip>Comment about generated methods</ToolTip>
          <Default>// Generated methods: Parse{Rule}, TryParse{Rule}</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[using DotGram;

// Add to .csproj: <AdditionalFiles Include="$ClassName$.gram" />
[Gram("$ClassName$.gram")]
public static partial class $ClassName$
{
	$Comment$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
